body {
    color: #780224;
}

.btn {
    color: #780224;
    background-color: #b5975b;
    border-color: #780224;
    border-width: 3px;
}

.btn:hover {
    color: white;
    background-color: #b5975b;
    border-color: #b5975b;
    border-width: 3px;
}

.h1 {
    color: #780224;
    font-size: 3rem;
}

.selectdatewidget, .selectdatewidget:focus, .selectdatewidget:active {
    color: #622F22;
    border-width: 1px;
    border-color: #622F22;
    width: 150px;
    margin-right: 2px;
}

.h-divider {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
    border-top: 2px solid #b5975b;
}

.form-check-input:checked {
    background-color: #b5975b;
    border-color: #780224;
}

.form-check-input:checked:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.4rem rgba(181, 151, 91, 0.25)
}
.form-check-input:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.4rem rgba(181, 151, 91, 0.25)
}


a:link {
  color: #780224;
}

a:visited {
  color: #b5975b;
}

a:hover {
  color: #b5975b;
}

a:active {
  color: #b5975b;
}

ul {
  list-style-type: none;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  /*margin: 10px;*/
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid #780224;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 50px;
  transition-duration: 0.5s;
  transform-origin: 20% 20%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: #b5975b;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  z-index: -1;
}